APP_PORT=5000

DB_HOST_1=172.31.240.1
DB_PORT_1=1567
DB_USER_1=sa
DB_PASSWORD_1=
DB_NAME_1=LosaGame

DB_HOST_2=172.31.240.1
DB_PORT_2=1567
DB_USER_2=sa
DB_PASSWORD_2=
DB_NAME_2=LosaLogData

DB_HOST_3=172.31.240.1
DB_PORT_3=1567
DB_USER_3=sa
DB_PASSWORD_3=
DB_NAME_3=LosaAdmin

DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
